@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
}

* {
  border-color: theme(colors.slate.200);
}

body {
  background-color: theme(colors.slate.50);
  color: theme(colors.slate.950);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme(colors.slate.100);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.slate.300);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme(colors.slate.400);
}